
html {
   height: 100%;
}

body { 
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 14px;
}

.hidden {
   display: none;
}

h1, h2, h3 {
   margin: 0;
   padding: 0;
}

h1 {
   font-size: 2.2em;
}

a {
   color: black;
}

a:hover {
   color: red;
}

input {
   font-size: 14px;
}

input[type=text],
input[type=password] {
   display: block;
   border: 1px solid #eee;
   padding: 5px;
   margin: 0;
}

input[type=text]:hover,
input[type=password]:hover {
   border: 1px solid #ccc;
}

input[type=text]:focus,
input[type=password]:focus {
   border: 1px solid #999;
   outline: none;
}

input[disabled] {
   color: #ccc;
}







